.footer{
    width: 100%;
    height: 70px;
    background: #2c58ed;
    position: absolute;
    bottom: 0px;
    display: none;
}
.footer_link,.footer_others{
    width: 100%;
    text-align: center;
}
.footer_link{
    position: absolute;
    top:3px;
}
.footer_others{
    position: absolute;
    top:30px;
}
.footer_link a{
    font-size: 12px;
    padding: 0px 8px;
    color: white;
    border-right: 0.5px solid #000000;
}

.footer p{
    font-size: 15px;
    width: 100%;
    text-align: center;
}