.nav_title{
    font-weight: 900;
    color: #595959;
    text-align: center;
}
.nav_span{
     width: 8%;
     margin: 15px auto;
     background: #D8D8D8;
     display: block;
     height: 7px;
 }
.player{
      width: 200px;
      position: absolute;
      bottom: 20px;
      left: 120px;
}
.header{
     position: fixed;
     top: 0;
     left: 0;
     z-index: 100;
     overflow: hidden;
     width: 100%;
     height: 70px;
     background: #060505;
 }
.header_container{
    width: 970px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.nav{
      position: absolute;
      top:25px;
      right: 0px;
}
.nav li{
     display: inline-block;
     float: left;
     margin: 0 12px;
     padding:5px;
     border-bottom: 2px solid rgba(212, 212, 212, 0.7);
}
.nav a{
     color: white;
     font-size: 12px;
     font-weight: 100;
     webkit-text-size-adjust: none;
 }
.selected{
      border-top: 2px solid rgba(212, 212, 212, 0.7);
}
.logo img{
    width: 80px;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    -webkit-transform-origin: center bottom;
}
.logo img:hover{
    -webkit-transform: rotateY(180deg);
}
