*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
html, body {
    height: 100%;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
}
.container{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 970px;
    left: 50%;
    margin-left: -485px;
}
.content{
   position: absolute;
    top: 50%;
    margin-top: -230px;
    width: 100%;
    height: 600px;
}
@media (max-width: 970px) {
    .container{
        width: 100%;
        left:0;
        margin-left:0;
    }
}






