*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
html, body {
    height: 100%;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}
.main{
    width: 100%;
    height: 100%;
}
.container{
    height: 87%;
    width: 970px;
    margin: 0 auto;
    position: relative;
}






